<div class="jumbotron py-5">
    <h1 class="display-4 text-center">User Details</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-user-detail-form></app-user-detail-form>
    </div>
    <div class="col-md-6">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of service.list">
            <td (click)="populateForm(u)">{{u.id}}</td>
            <td (click)="populateForm(u)">{{u.name}}</td>
            <td (click)="populateForm(u)">{{u.surName}}</td>
            <td (click)="populateForm(u)">{{u.email}}</td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(u.id)"></i>
            </td>
        </tr>
    </tbody>
</table>
</div>